# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.pytest_cache/
*.db

# Node / React Native
node_modules/
.expo/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
eas-build-local/
*.apk
*.aab

# OS
.DS_Store
Thumbs.db
